/* css code properties player1 and 2 [START] */
.PL1,.PL2{
    display: inline-block;
    height: 93px;
    animation-duration: .6s;
    animation-iteration-count: infinite ;
    background-repeat: no-repeat;
    width: 54px;
    position: relative;
}
/* css code properties player1 [START] */
.PL1{
    background-image:url(img/PL1/normalRight.png);   
}
@keyframes move-left-run-PL1 {
    33%{
     background-image: url(img/PL1/run-left/p1Lrun2.png) ;
    }
    66%{
     background-image:url(img/PL1/run-left/p1Lrun3.png);
    }
    99%{
     background-image:url(img/PL1/run-left/p1Lrun4.png);
    }
}
@keyframes move-right-run-PL1 {
    33%{
        background-image: url(img/PL1/run-rghit/p1Lrun2.png);
    }
    66%{
        background-image: url(img/PL1/run-rghit/p1Lrun3.png);
    }
    99%{
        background-image: url(img/PL1/run-rghit/p1Lrun4.png);
    }
}
/* css code properties player1 [END] */

/* css code aks player2 [START] */
.PL2{
  background-image:url(img/PL2/normalLeft.png);
  transform: translate(1100px, 500px);
}
/* css code properties player2 [END] */
/* move PL2 [start]*/
@keyframes move-left-run-PL2 {
    33%{
     background-image: url(img/PL2/run-left/p2Lrun2.png) ;
    }
    66%{
     background-image:url(img/PL2/run-left/p2Lrun3.png);
    }
    99%{
     background-image:url(img/PL2/run-left/p2Lrun4.png);
    }
}
@keyframes move-right-run-PL2 {
    33%{
        background-image: url(img/PL2/run-rghit/p2Lrun2.png);
    }
    66%{
        background-image: url(img/PL2/run-rghit/p2Lrun3.png);
    }
    99%{
        background-image: url(img/PL2/run-rghit/p2Lrun4.png);
    }
}
/* move PL2 [end]*/
/* manster code start */

.manster{
    background-image: url(img/labas-monster/monsterNormalLeft.png) ;
    display: inline-block;
    height: 93px;
    animation-duration: .6s;
    animation-iteration-count: infinite ;
    background-repeat: no-repeat;
    width: 54px;
    position: relative;
}
@keyframes mansterRghit {
    33%{
        background-image: url(img/labas-monster/RUN-right/1.png);
    }
    66%{
        background-image: url(img/labas-monster/RUN-right/2.png);
    }
    99%{
        background-image: url(img/labas-monster/RUN-right/3.png);
    }
}
@keyframes mansterleft {
    33%{
        background-image: url(img/labas-monster/RUN-left/1.png);
    }
    66%{
        background-image: url(img/labas-monster/RUN-left/2.png);
    }
    99%{
        background-image: url(img/labas-monster/RUN-left/3.png);
    }
}
@keyframes attkleft {
    33%{
        background-image: url(img/labas-monster/attk-left/1.png);
    }
    66%{
        background-image: url(img/labas-monster/attk-left/2.png);
    }
    99%{
        background-image: url(img/labas-monster/attk-left/3.png);
    }
}
@keyframes attkright {
    33%{
        background-image: url(img/labas-monster/attk-right/1.png);
    }
    66%{
        background-image: url(img/labas-monster/attk-right/2.png);
    }
    99%{
        background-image: url(img/labas-monster/attk-right/3.png);
    }
}
/* code of flag */
.flag::after{
    content: url(img/flag.png);
    position: absolute;
    left: -27px;
}