/* css code properties macbook-air [START] */
.macbook-air {
  background-color: rgba(255, 255, 255, 1);
  background: linear-gradient(
    180deg,
    rgb(72, 131, 221) 0%,
    rgb(221, 72, 72) 100%
  );
  width: 1280px;
  height: 785px;
  box-shadow: 0px 2px 5px 7px rgba(0, 0, 0, 0.25);
}
/* css code properties header [START] */
.macbook-air .hedaer {
  position: relative;
  display: flex;
  width: 1280px;
  height: 114px;
  align-items: flex-start;
  justify-content: center;
  gap: 59px;
  background-color: var(--variable-collection-header-bg-color);
}

/* css code properties player1 [START] */
.macbook-air .pl {
  display: flex;
  width: 301px;
  height: 76px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--p1-color);
  border-radius: 0px 0px 13px 13px;
}
/* css code properties jon player1,2 [START] */
.macbook-air .rectangle {
  position: relative;
  width: 58px;
  height: 52px;
  background-color: var(--point-color);
  border-radius: 1000px;
}

.macbook-air .rectangle-2 {
  position: relative;
  width: 58px;
  height: 52px;
  background-color: var(--los-point-color);
  border-radius: 1000px;
}
/* css code properties jon player1,2 [END] */

/* css code properties start [START] */
#start {
  position: absolute;
  top: 85px;
  left: 588px;
  width: 100px;
  height: 24px;
  background-color: rgb(156, 43, 156);
  color: rgb(190, 190, 190);
  border: white solid 1px ;
  border-radius: 10px;
  cursor: pointer;
}
#start:hover{
  background-color: rgba(156, 43, 156, 0.495);
}
/* css code properties start[END] */

/* css code properties timer [START] */
.macbook-air .timer {
  display: flex;
  width: 400px;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 63px;
  position: relative;
  background-color: var(--time-bg-color);
  border-radius: 0px 0px 50px 50px;
  font-size: 50px;
  color: white;
}
/* css code properties timer [END] */
/* css code properties player1 [END] */

/* css code properties player2 [START] */
.macbook-air .pl-2 {
  display: flex;
  width: 301px;
  height: 76px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: var(--pl2-color);
  border-radius: 0px 0px 13px 13px;
}
/* css code properties player2 [END] */
/* css code properties header [END] */
/* css code properties div [END] */

#rahnma{
  position: absolute;
  top:20px;
  left: 30px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: blue;
}
/* css code properties macbook-air [END] */
